<h1> <%= @exoplanet.name %> </h1>
<p> <%= @exoplanet.name %> is <%= @exoplanet.distance %> parsecs, or <%= (@exoplanet.distance)* 3.26 %> light years from Earth </p> <br>
<p> One year, is <%= @exoplanet.period %> 'days' on <%= @exoplanet.name %> </p> 